$mobile-width: 739px;
$tablet-width: 1023px;

@mixin mobileAndTablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
        @content;
    }
}

.profile-buys {
    width: 100%;
    padding: 16px;

    .back-btn-profile {
        cursor: pointer;
        display: none;

        @include mobile {
            display: flex;
        }
    }
}

.buys-search {
    span {
        display: flex;
        align-items: center;
        border: 1px solid #d7d7d7;
        border-radius: 4px;

        .icon-search {
            display: inline-block;
            width: 36px;
            text-align: center;
            color: #d7d7d7;
            transition: all ease 0.3s;
        }

        input {
            width: 100%;
            border: none;
            padding: 12px 14px 12px 0;
            outline: none;
            font-size: 1.4rem;
        }
    }

    &:focus-within .icon-search {
        color: #333;
    }
}

.order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-top: 16px;

    .wrapper-info {
        display: flex;
        margin-right: 8px;
        align-items: center;
    }

    .order-preview {
        width: 64px;
        height: 64px;
        display: flex;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }

    .info-order {
        margin-left: 12px;

        h3,
        p {
            width: 120px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    .price-item-order {
        flex: 1;
        text-align: center;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .detail-item {
        cursor: pointer;
        user-select: none;
    }
}

.no-orders-mes {
    text-align: center;
    font-size: 1.6rem;
    padding: 8px 0;
    font-weight: 500;
}
