$mobile-width: 739px;
$tablet-width: 1023px;

@mixin mobileAndTablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
        @content;
    }
}

.title-cpn {
    text-align: center;
}

.heading {
    font-size: 36px;
    font-weight: 500;
    -webkit-text-stroke: 1px #db2777;
    color: #3c3451;
    letter-spacing: 2px;

    @include mobile {
        font-size: 24px;
    }
}

.logo {
    display: flex;
    justify-content: center;

    img {
        width: 86px;
        height: 86px;
        object-fit: contain;
        position: relative;
        top: -12px;
        @include mobile {
            width: 64px;
            height: 64px;
        }
    }
}
