// suggest
.heading-menu {
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 8px;
    display: inline-block;
    border-bottom: 2px solid #d7d7d7;
}
.suggest-pro {
    padding-top: 32px;
}

.wrapper-suggest {
    padding: 16px 12px;
    border: 1px solid #d7d7d7;
    border-radius: 6px;
    margin-top: 16px;
}

.suggest-item {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #d7d7d7;

    &:last-child {
        border-bottom: none;
    }
}

.preview-suggest {
    text-decoration: none;
    color: #333;
    display: flex;
    width: 60px;
    height: 60px;
    flex-shrink: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
    }
}

.suggest-info {
    padding-left: 12px;
}

.heading-suggest {
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &:hover {
        text-decoration: underline;
    }
}

.price-suggest-item {
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: 4px;
}

.line-suggest {
    height: 1px;
    background-color: #d7d7d7;
    margin: 12px 0;
}
