$mobile-width: 739px;
$tablet-width: 1023px;

@mixin mobileAndTablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
        @content;
    }
}

.profile-changepass {
    width: 100%;
    padding: 16px 48px;
}

.my-pass {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 16px;
        border-bottom: 1px solid #d7d7d7;

        .heading {
            font-size: 1.6rem;
            display: flex;
            align-items: center;

            .back-btn-profile {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 16px;
                cursor: pointer;
                display: none;

                @include mobile {
                    display: flex;
                }
            }
        }
    }
}

// form

.form-container {
    margin-top: 16px;
}

.form-wrapper {
    max-height: 500px;
    overflow-y: auto;
}

.form-item {
    display: flex;
    flex-direction: column;
    color: #333;
    font-size: 15px;
    padding: 8px 0;

    input {
        margin-top: 4px;
        caret-color: #333;
        color: #999;
        outline: none;
        border: 1px solid #d7d7d7;
        padding: 12px 0 12px 12px;
        border-radius: 6px;
    }
}

.form-submit {
    padding-top: 8px;
    text-align: right;

    button {
        padding: 12px 24px;
        background-color: dodgerblue;
        color: #fff;
        font-size: 1.5rem;
        letter-spacing: 1px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }

    p {
        margin-top: 12px;
        font-weight: 300;
        font-size: 1.4rem;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .btn-back {
        background-color: #fff;
        color: #333;
        border: 1px solid #d7d7d7;
    }
}

.error-field {
    color: red;
    font-weight: 300;
    font-size: 14px;
    &::before {
        display: inline;
        content: '⚠ ';
    }
}
