$mobile-width: 739px;
$tablet-width: 1023px;

@mixin mobileAndTablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
        @content;
    }
}

.link-detail {
    flex-basis: 25%;
    padding: 0 8px;
    margin-bottom: 16px;
    text-decoration: none;

    @include mobile {
        flex-basis: 50%;
    }
}

.wrap {
    border-radius: 6px;
    box-shadow: 0 0 2px #afaaaa;
}

.preview {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    display: flex;

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 6px;
        transition: all 0.25s linear;
        &:hover {
            transform: scale(1.0999);
        }
    }
}

.info {
    padding-top: 8px;
    padding-bottom: 16px;
    text-align: center;
    .title {
        font-size: 14px;
        color: #888;

        @include mobile {
            font-size: 10px;
        }
    }

    .name-dog {
        font-weight: 500;
        font-size: 16px;
        color: #333;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        padding: 0 6px;
        overflow: hidden;

        @include mobile {
            font-size: 12px;
        }
    }

    .price {
        color: crimson;
        font-weight: 400;
        font-size: 14px;

        @include mobile {
            font-size: 10px;
        }
    }
}
