$color: #49b8e5, #1e98d4, #2a92d0, #3a88c8, #507cbe;

.typing-container {
    position: fixed;
    right: 256px;
    bottom: 56px;
    display: flex;
    transition: all 0.2s ease;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrap-img {
    width: 36px;
    height: 36px;
    margin-right: 5px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 999px;
    }
}

$circle-size: 10px;
$circle-margin: 2px;

.circle {
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    margin: $circle-margin;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
        content: '';
        width: $circle-size;
        height: $circle-size;
        border-radius: 50%;
        opacity: 0.7;
        animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    }
}

@for $i from 1 through 5 {
    .circle-#{$i} {
        background-color: nth($color, $i);
        &:before {
            background-color: nth($color, $i);
            animation-delay: 200ms * $i;
        }
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
        transform: scale(2.5);
    }
    78%,
    100% {
        opacity: 0;
    }
}
